@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <img class="centraliza" src="~/Content/Images/logo.jpg" width="304" height="236">
        <h2 class="toUpperCase text-center">Sistema de Cadastro de Restaurantes</h2>
    </div>
</div>